#################################
# Application
#################################

APP_NAME=insighthub
APP_ENV=development
LOG_LEVEL=INFO


#################################
# Intelligence API
#################################

INTELLIGENCE_PORT=8000


#################################
# AnythingLLM
#################################

ANYTHINGLLM_BASE_URL=http://anythingllm:3001
ANYTHINGLLM_API_KEY=
ANYTHINGLLM_TIMEOUT_SECONDS=60


#################################
# LLM Provider
#################################

LLM_PROVIDER=generic-openai
LLM_BASE_URL=
LLM_API_KEY=
LLM_MODEL=gpt-5.6-luna


#################################
# Embedding Provider
#################################

EMBEDDING_PROVIDER=
EMBEDDING_MODEL=


#################################
# Database (future)
#################################

POSTGRES_HOST=
POSTGRES_PORT=5432
POSTGRES_DATABASE=
POSTGRES_USER=
POSTGRES_PASSWORD=


#################################
# Analytics
#################################

DUCKDB_PATH=/data/analytics.duckdb


#################################
# Observability
#################################

LANGFUSE_ENABLED=false
LANGFUSE_PUBLIC_KEY=
LANGFUSE_SECRET_KEY=
LANGFUSE_HOST=


#################################
# Evaluation
#################################

EVALUATION_DATASET_PATH=evaluation/datasets


#################################
# Storage
#################################

DATA_DIR=/data
MAX_UPLOAD_SIZE_MB=100
